@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 10px;
    /* overflow-y: hidden; */
}
body{
    
    background-color: #F7F8FA;
}
.navbar{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.088) 0px 4px 12px;
    position: relative;
}
#global{
    display: block;
    z-index: 1000;
    color: #3357E5;;
}
#globalcover{
    position: absolute;
    right: 9.9rem;
    text-decoration: none;
}
#logo{
    position: absolute;
    margin-right: 14rem;
    width: 14rem;
    right: 0px;
}

nav{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.navbar i{
    position: relative;
    font-size: 25px;
    font-weight: 800;
    display: none;
}
nav ul li{
    display: inline-block;
    margin-right: 99px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: "Roboto Mono";
}

.p1{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: row;
}
.navigation{
    position: fixed;
    width: 30.3rem;
    height: 100%;
    display: flex;
    /* background-color: #252525; */
}

.textmenu{
    width: 19.1rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 12.8rem;
    margin-left: 23.2%;

    
}
#three{
    color: rgb(16, 16, 16);
}
.navborderoverlay{
    width: calc(100% - 50px);
    height: 100%;
    background-color: #f7f8fa;
    box-shadow: 2px 2px 20px #bdbdbd4d;
    display: flex;
}
.navborderoverlay img{
    width: 30rem;
    position: absolute;
    left: -2rem;
    bottom: 0rem;
}
.textmenu ul{
    height: 100%;
}
.textmenu ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

}

.textmenu ul li a{
    text-decoration: none;
    font-size: 2.4rem;
    color: rgb(66, 66, 66);
    margin: 0.5rem;
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.overlay{
    width: 100vw;
    height: 100vh;
    display: block;
    /* background-color: wheat; */
}
.mainscreen{
    position: absolute;
    left: 30.3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #252525; */
}

hr{
    width: 70%;
}
.left{
    width: 75%;
    /* background-color: aliceblue; */
    padding-top: 3rem;
    padding-right: 6rem;
}
.left img{
    width: 100%;
    border: 8px solid #3357e56c;
    margin-bottom: 1.3rem;
}
.left h2{
    font-size: 3.2rem;
    font-family: 'Zain';
    color: #171313;
}
.left p{
    font-size: 2.1rem;
    font-family: 'Zain';
    color: #171313;
}
.right{
    width: 25%;

}
.imgbox img{
    width: 10rem;
}
.headingbox h1{
    margin-top: 10rem;
    font-size: 2rem;
    text-decoration: underline;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(53, 53, 53);
}
.headingbox h2{
    margin-top: 0.5rem;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: "Ubuntu", sans-serif;
    color: #171313;
}

@media only screen and (max-width: 480px){
    html:root {
        font-size: 55%;
        overflow-y: auto;
    }
    body .navbar{
        height: 62px;
    }
    .navbar ul{
        display: none;
    }
    #globalcover{
        right: 2.5rem;
    }

    .mainscreen{
        position: absolute;
        left: 3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: #252525; */
    }

    .headingbox h2{
        width: 90vw;
    }
    .navbar #menu{
        display: block;
        font-size: 3rem;
        margin-left: 2rem;
        z-index: 1000;
    }
    body .navbar{
        width: 100%;
    }
    .left{
        width: calc(100% - 4rem);
        padding-right: 2rem;
    }
    .navbar #menu{
        display: block;
        font-size: 3rem;
        margin-left: 2rem;
        z-index: 1200;
    }
    .p1 .navigation{
        background-color: #F7F8FA;
        z-index: 1000;
        width: 60vw;
        display: none;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
    .navborderoverlay{
        display: none;
    }
    .navigation .navborderoverlay{
        width: 100%;
    }
    hr{
        width: 85%;
    }
    #logo{
        position: absolute;
        right: 6rem;
        left:unset;
    }
    
}