@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
/* 147.9rem
66.7rem */


html{
    font-size: 10px;
    /* overflow-y: hidden; */
}
body{
    
    background-color: #F7F8FA;
}
.navbar{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.088) 0px 4px 12px;
    position: relative;
}
#global{
    display: block;
    z-index: 1000;
    color: #3357E5;;
}
#globalcover{
    position: absolute;
    right: 9.9rem;
    text-decoration: none;
    font-size: 25px;
}
#logo{
    position: absolute;
    margin-right: 14rem;
    width: 14rem;
    right: 0px;
}

nav{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.navbar i{
    position: relative;
    font-size: 25px;
    font-weight: 800;
    display: none;
}
nav ul li{
    display: inline-block;
    margin-right: 99px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: "Roboto Mono";
}

.p1{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: row;
    /* background-color: crimson; */

}

.navigation{

    position: fixed;
    width: 30.3rem;
    height: 100%;
    display: flex;
}

.textmenu{
    width: 19.1rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 12.8rem;
    margin-left: 23.2%;   
}
.navborderoverlay{

    width: calc(100% - 50px);
    height: 100%;
    background-color: #f7f8fa;
    box-shadow: 2px 2px 20px #bdbdbd4d;
}

.textmenu ul{
    height: 100%;
}
.textmenu ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

}

.textmenu ul li a{
    text-decoration: none;
    font-size: 2.4rem;
    color: rgb(66, 66, 66);
    margin: 0.5rem;
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;

}

#two{
    color: rgb(16, 16, 16);
}

.mainscreen{
    position: absolute;
    left: 30.3rem;
    width: 75.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #252525; */
}

.headingbox{
    margin-top: 8rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 10.2rem;
    /* background-color: #3357E5; */
}

.headingbox h2{
    margin-top: 2.3rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    color: #797979;
    margin-bottom: 0.2rem;
    font-size: 1.4rem;
}

.headingbox h1{
    font-size: 2.8rem;
    color: #3357E5;
    font-family: "Ubuntu", sans-serif;
}
.headingbox h1 span{
    font-size: 2.8rem;
    color: #353948;
    font-family: "Ubuntu", sans-serif;
}
.headingbox h3{
    font-size: 1.8rem;
    margin-top: 1.3rem;
    color: rgb(113, 113, 119);
    width: 70%;
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.taxbox{
    width: calc(100%);
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 100%;
    /* background-color: #3357E5; */
}

.form{
    width: 65%;
    margin-right: 4%;
    padding: 2rem 3rem 2rem 3rem;
    border: 1px solid rgba(0, 0, 0, 0.073);
}



.btn{
    background-color: #F7F8FA;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    font-weight: 300;
    font-style: normal;
    color: #4d4d4d;
    border-bottom: 1px solid #ddd;
}

#plus{
    font-size: 2.2rem;
}


.content {
    display: none;
    position: relative;
    background-color: #F7F8FA;
    min-width: 92%;
    padding: 1rem;
    
}
.content div{
    display: flex;
    justify-content: space-between;
    font-size: 1.55rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #75787d;
    font-weight: 400;
    font-style: normal;
}
.content div input{
    border: none;
    text-align: right;
    width: 100px;
    height: 22px;
    font-size: 14.5px;
    border-bottom: 1.5px solid rgb(123, 123, 123);
    background-color: #F7F8FA;
    padding-right: 2px;
    color: #6f7071;
    font-weight: 600;
}
.content div select{
    border: none;
    text-align: center;
    width: 115px;
    height: 22px;
    font-size: 14.5px;
    border: 1.5px solid rgb(123, 123, 123);
    background-color: #F7F8FA;
    border-radius: 3px;
    /* padding-right: 2px; */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
.content-clicked{
    display: block;
}

form h3{
    font-size: 1.55rem;
    margin: 2rem 0rem 2rem 0rem;
    font-weight: 500;
}

.finaltax{
    width: 35%;
    display: flex;
    flex-direction: column;
    
    
    
}
.calculatebutton{
    width: 100%;
    height: 5rem;
    
    box-shadow: rgba(16, 22, 43, 0.4) 0px 5px, rgba(16, 22, 43, 0.3) 0px 10px, rgba(16, 22, 43, 0.2) 0px 15px, rgba(16, 22, 43, 0.1) 0px 20px, rgba(16, 22, 43, 0.05) 0px 25px;
    border-radius: 8px;
}
.calculatebutton button{
    width: 100%;
    height: 100%;
    background-color: #10162B;
    font-size: 1.6rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    color: white;
    border-radius: 8px;
}
.finaltaxbox{
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.073);
    box-shadow: rgba(0, 0, 0, 0.1)0px 4px 12px;
    padding-bottom: 0.8rem;
}

.calculations{
    flex-direction: column;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculations div{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-items:center;
    align-items: center;
}
.amm{
    
    width: 40%;
    margin-top: 1.3rem;
    font-size: 1.35rem;
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
    color: #797979;
}
.bmm{
    text-align: center;
    width: 45%;
    margin-top: 1.3rem;
    font-size: 1.35rem;
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
    color: #797979;
}
.cmm{
    width: 10%;
    margin-top: 1.3rem;
    font-size: 1.35rem;
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
    color: #797979;
}
.result{
    width: 100%;
    height: 53%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #252525; */
    
}

.result h2{
    margin-top: 8%;
    margin-bottom: 1%;
    font-size: 1.4rem;
    font-family: "Ubuntu", sans-serif;
    color: #838BA0;
    font-weight: 500;
}

.result h1{
    font-size: 4rem;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.conclusion{
    padding: 1rem;
    margin-top: 5rem;
    height: max-content;
    width: calc(100% - 2rem);
    border: 3px solid black;
    color: rgb(39, 39, 39);
}
.summary{
    margin-top: 0.8rem;
}
@media only screen and (max-width: 960px) {
    .mainscreen .taxbox{
        flex-direction: column;
        
    }

    .taxbox .form{
        padding: 0px;
        width: calc(100% - 5rem);
        height: auto;
        padding: 2rem;
        }
    .taxbox .finaltax{
        flex-direction: column-reverse;
        width: 100%;

    }
    .finaltax .finaltaxbox{
        
        width: 100%;
    }
    .navigation .navborderoverlay{
        width: 100%;
    }

}
 
@media only screen and (max-width: 480px){
    html:root {
        font-size: 55%;
        overflow-y: auto;
    }
    body .navbar{
        height: 62px;
    }
    body .mainscreen{
        width: 100%;
        left: 0;
    }
    .headingbox h2{
        width: 230px;
        text-align: left;
    }
    .mainscreen .headingbox h1{
        font-size: 22px;
    }
    .mainscreen .headingbox h1 span{
        font-size: 22px;
    }
    .mainscreen .headingbox{
        margin-top: 10rem;
        width: 100vw;
        /* background-color: crimson; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .headingbox h3{
        font-size: 1.6rem;
        text-align: center;
        line-height: 15px;
    }
    .mainscreen .taxbox{
        width: 100%;
        /* background-color: crimson; */
        display: block;
        
    }
    .taxbox .form{
        border: none;

    }
    .taxbox .finaltax{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
    }
    .finaltax .finaltaxbox{
        box-shadow: none;
        border: none;
        height: 26rem;
    }
    .finaltax .calculatebutton{
        margin-top: 4rem;
        width: 148px;
        height: 47px;
        margin-bottom: 4rem;
        /* background-color: red; */
    }
    .navbar #menu{
        display: block;
        font-size: 3rem;
        margin-left: 2rem;
        z-index: 1000;
    }
    body .navbar{
        width: 100%;
    }
    .navbar #logo{
        position: absolute;
        right: 6rem;
    }
    .navbar #globalcover{
        right: 2.5rem;
        font-size: 25px;
    }
    .p1 .navigation{
        background-color: #F7F8FA;
        z-index: 700;
        width: 60vw;
        display: none;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }

    form .content div{
        font-size: 1.65rem;
    }

    .calculations div{
        padding: 0rem 1.7rem 0rem 1.7rem;
    }
    .calculations div .amm{
        font-size: 1.6rem;
    }
    .result h2{
        font-size: 1.5rem;
    }
}