*{
    margin: 0px;
    padding: 0px;
}

/* @media (){
    max-width: ;
} */

html{
    font-size: 10px;
}
body{
    background-color: #F7F8FA;
}
.navbar{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.088) 0px 4px 12px;
}
#logo{
    margin-top: 1rem;
    padding-left: 5rem;
    width: 18rem;
    
}
nav{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
}

nav ul li{
    display: inline-block;
    margin-right: 99px;
    
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: Roboto Mono;
}
.p1{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: row;
}
.navigation{

    width: 49.5rem;
    height: 100%;
    display: flex;
}
.textmenu{
    /* background-color: #f1f1f1; */
    width: 19.1rem;
    height: 15.1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 12.8rem;
    margin-left: 9.9rem;
    justify-content: center;
}
.textmenu ul li{
    display: flex;
    flex-direction: column;

}
.textmenu ul li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #454545;
    margin: 0.5rem;
}
.mainscreen{
    width: 100%;
    /* background-color: #454545; */
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mainscreen img{
    width: 49rem;
    height: 50rem;
    position: absolute;
    right: 7%;
    bottom: 0%;
}
.headingbox{
    position: relative;
    top: 14.4rem;
    width: 100%;
    height: 20.2rem;
    display: flex;
    flex-direction: column;
    /* background-color: #3357E5; */
}
.headingbox h1{
    font-size: 6rem;
    margin-bottom: 1rem;
}
.headingbox h2{
    font-size: 6rem;
    color: #3357E5;
}